<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAEView.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SAEView.Properties.Settings>
            <setting name="PASS" serializeAs="String">
                <value>Veca2018</value>
            </setting>
            <setting name="server" serializeAs="String">
                <value>7.1.1.239</value>
            </setting>
            <setting name="port" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="localPort" serializeAs="String">
                <value>8000</value>
            </setting>
        </SAEView.Properties.Settings>
    </userSettings>
</configuration>